@import "tailwindcss";
@import 'highlight.js/styles/github.css';

.hljs {
  color: #f9fafb;
  border-radius: 6px;
  padding: 1em !important;
}

.hljs-string {
  color: #ffe4c4!important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}